---
import { format, parseISO } from 'date-fns';
import { es } from 'date-fns/locale';
const postList = await Astro.glob("../../pages/blog/*.md");

const truncateText = (text: string, maxLength: number | undefined) => {
  if (typeof text !== 'string') {
    throw new Error('text must be a string');
  }
  if (typeof maxLength !== 'number') {
    throw new Error('maxLength must be a number');
  }
  if (text.length > maxLength) {
    return text.substring(0, maxLength) + '...';
  }
  return text;
};

const formatDate = (dateString: string) => {
  const date = parseISO(dateString);
  return format(date, 'dd MMMM, yyyy', { locale: es });
};
---

<section class="flex flex-wrap gap-5">
  {
    postList.map((post) => (
      <div class="product_card">
        <div class="add_to_wishlist">
          <span class="uppercase typeArticle">{post.frontmatter.type}</span>
        </div>
        <div class="image">
          <a href={post.url}>
            <img
              src={post.frontmatter.src}
              alt=""
            />
          </a>
        </div>
        <div class="product_info grid grid-cols-1 grid-rows-3 gap-2">
          <h3 class="product_name row-start-1 row-end-2 col-start-1 col-end-2 text-[#8265c2]">
            {post.frontmatter.title}
          </h3>
          <p class="product_description text-pretty row-start-2 row-end-3 col-start-1 col-end-2">
            {truncateText(post.frontmatter.content, 120)}
          </p>
          <div class="date row-start-3 row-end-4 col-start-1 col-end-2 text-right">
            <span class="date">{formatDate(post.frontmatter.pubDate)}</span>
          </div>
        </div>
      </div>
    ))
  }
</section>

<style>
  .product_card {
    width: 300px;
    height: 390px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    transition: 0.3s;
    border: 2px solid rgb(236, 236, 236);
    position: relative;
  }

  .product_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }

  .product_card .product_info {
    padding: 12px;
    font:
      14px "Poppins",
      sans-serif;
  }

  .date {
    font-size: 20px;
    font-weight: 600;
  }

  .add_to_wishlist {
    position: absolute;
    padding: 5px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: #ffffff9b;
    color: #111111;
    border: none;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product_name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  .product_description {
    font-size: 14px;
    color: #292828;
  }
  .typeArticle {
    background-color: #8265c2;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
    min-width: 150px;
  }
</style>
